<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        colors="true"
        forceCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="services">
            <directory>tests/Services</directory>
        </testsuite>
        <testsuite name="annotations">
            <directory>tests/Annotations/Annotation</directory>
        </testsuite>
        <testsuite name="attributes">
            <directory>tests/Attributes/Attribute</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>Services</directory>
            <exclude>
                <directory>doc</directory>
                <directory>vendor</directory>
                <directory>Controller</directory>
                <directory>DependencyInjection</directory>
                <directory>Resources</directory>
                <file>SQLIEzToolboxBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>